---
import CardsBlog from "../components/Blog/CardsBlog.astro";  // Asegúrate de importar el componente CardsBlog
import BotonPrincipal from "../components/BotonPrincipal.astro";
import BlogLayout from "../layouts/BlogLayout.astro";
const postList = await Astro.glob("/src/pages/posts/*.md");

const postsArray = Object.values(postList).map(post => ({
  title: post.frontmatter.title,
  previewText: post.frontmatter.previewText,
  image: post.frontmatter.image,
  pubDate: new Date(post.frontmatter.pubDate),
  tags: post.frontmatter.tags,
  url: post.url
})).sort((a, b) => b.pubDate - a.pubDate);

const allPosts = postsArray; // Aquí no usamos slice, por lo que se mostrarán todos los posts
---

<BlogLayout>

  <div class="max-w-screen-xl mx-auto sm:my-8 md:my-16 lg:px-14">
    <hr class="bg-naranja mb-8">
 
    <ul class="grid md:grid-cols-2 sm:grid-cols-1 lg:grid-cols-4 gap-8">
       {allPosts.map(post => (
          <li><CardsBlog title={post.title} image={post.image} url={post.url} previewText={post.previewText} pubDate={post.pubDate} tags={post.tags} /></li>
       ))}
    </ul>
 </div>

</BlogLayout>

