---
const { image, url, title, pubDate, previewText, tags} = Astro.props;
import BotonBlog from "../BotonBlog.astro";

const formattedDate = new Date(pubDate).toLocaleDateString('es-ES', {
  day: '2-digit',
  month: '2-digit',
  year: 'numeric',
});
---


<article class=" transition-transform duration-300 hover:scale-110 sm:px-4">
        
    <a href={url} class="overflow-hidden">
    <div class=" h-44">
        <img src={image.url} alt={image.alt} class="w-full h-full object-cover">
    </div>
    
    <div class="flex gap-4 py-2 justify-between">
        <time datetime={pubDate} class="text-base">{formattedDate}</time>
        <span class="text-base !text-naranja !font-semibold" >{tags}</span>
    </div>
    <h3 class="uppercase">{title}</h3>

    <p class="!text-gray-800 !text-lg !text-justify">{previewText}</p>
    <BotonBlog/>
</a>
</article>