---
import BlogLayout from "./BlogLayout.astro";
import "../estilos.css";


const { frontmatter, image, title, tags, pubDate } = Astro.props;


const formaterFecha = new Date(pubDate).toLocaleDateString('es-ES', {
  day: '2-digit',
  month: '2-digit',
  year: 'numeric',
});



---

<BlogLayout title={frontmatter.title}>
    <div class="lg:w-[1000px] mx-auto md:p-0 sm:p-4 relative mt-[90px]">
        <article
            class="flex flex-col justify-center md:gap-6 sm:gap-0 sm:p-4"
        >
            <div class="w-full h-[300px]">
                <img
                    class="w-full h-full object-cover"
                    src={frontmatter.image.url}
                    alt=""
                />
            </div>

            <section class="post-body">
                <div class="flex items-center">
                    <time datetime={frontmatter.pubDate} class="text-base">{formaterFecha}</time>
                    <span class="text-base !text-naranja" >{frontmatter.tags}</span>
                </div>
                <h1 class="sm:text-2xl lg:text-1xl xl:text-4xl font-myriad font-extrabold text-azul sm:text-left lg:text-left sm:leading-none uppercase my-4">
                    {frontmatter.title}
                </h1>

                <slot />
            </section>
        </article>
    </div>
</BlogLayout>
